<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Hello Shopping
        p My name Tikderjar
        div
            each product in prods
                h4 #{product.title}
                h5 #{product.price}